/* Support */

.support_actions {
	display:						flex;
	justify-content:				space-around;
	align-items:					center;
	margin-bottom:					20px;
}

.support_actions .form-group {
	display:						flex;
	justify-content:				left;
	align-items:					center;
	margin-bottom:					0;
}

.support_actions label {
	padding-right:					20px;
	margin-bottom:					0;
	
}

.search-filter-options {
	margin-top:						10px;
}

.search-filter-options .form-group {
	width:							100%;
}


/* Topic */
.support_date {
	width:							175px;
}

.privilege_admin {
	margin-left:					10px;
	color:							var(--privilege-admin);
	font-weight:					bold;
    font-size:						12px;
    border:							1px solid var(--privilege-admin);
	padding:						5px;
    border-radius:					5px;
}