/* Courses edition */
.img_courseEdit {
	max-width:						250px;
	max-height:						250px;
}


/* Modules */
.module {
	
	border-radius:					5px;
	padding:						20px;
}

.module_actions {
	margin:							10px 0;
}


/* Classes */
.class {
	display:						flex;
	justify-content:				space-between;
	border:							1px solid var(--view-widget-accent);
    padding:						5px 10px;
    transition:						all 200ms ease-in;
    align-items:					center;
}

.class h5 {
	margin:							0;
}

.class:hover {
	background-color:				var(--view-widget-accent);
}

.classes {
	margin-bottom:					20px;
}

.classType_content_quest {
	display:						none;
}

.module {
	margin-top:						20px;
}

.class_actions {
	display:						flex;
}

.class_actions button {
	margin-left:					5px;
}