/* Global */
body,
html {
	overflow-y:						hidden;
	margin:							0;
	height:							100%;
	min-height:						100vh;
}

body {
	background-color:				var(--color-primary);
	background-image:				linear-gradient(315deg, var(--color-primary) 0%, var(--color-secondary) 74%);
	background-size:				cover;
}

main {
	min-height:						557px;
}

.row {
	max-width:						100%;
	margin-left:					0;
    overflow:						hidden;
}

.row, 
main, 
footer {
	position:						relative;
}

footer {
	width:							100%;
	height:							50px;
	line-height:					50px;
	text-align:						center;
	color:							var(--text-light);
	bottom:							0;
	background-color:				var(--color-dark)!important;
}

a:hover {
	color:							var(--color-hover-link);
}

.text_centered {
	text-align:						center;
}


/* Navbar */
body nav {
	background-color:				var(--color-dark);
	padding:						0;
	height:							50px;
	color:							var(--text-light);
}

body nav a {
	color:							var(--text-light);
}

.nav-item {
	height:							50px;
	line-height:					50px;
	padding:						0;
	transition:						all 200ms ease-in;
}

.nav-item:hover {
	background-color:				var(--color-hover-menu);
}


/* View */
.view_panel {
	background-color:				var(--color-light);
	color:							var(--text-light);
	margin-bottom:					50px;
	border-radius:					5px;
	padding:						0;
	margin-top:						30px;
}

.view_content {
	padding:						20px;
}

.view_content h1, 
.view_content h2 {
	margin-left:					30px;
}

.view_header {
	color:							var(--view-header-text);
	background-color:				var(--view-header-background);
	border-bottom:					1px solid var(--view-header-accent);
	padding:						25px 50px;
	margin-bottom:					0;
	border-top-right-radius:		5px;
	border-top-left-radius:			5px;
}

.view_widget {
	color:							var(--view-panel-text);
	background-color:				var(--view-widget);
	border:							1px solid var(--view-widget-accent);
	border-radius:					5px;
}

.view_widget_info {
	color:							var(--view-widget-info);
	border:							1px solid var(--view-widget-info);
	padding:						5px;
    border-radius:					5px;
    font-size:						13px;
}


/* Modal */
.modal-header  {
	color:							var(--view-header-text);
	background-color:				var(--view-header-background);
	border-bottom:					1px solid var(--view-header-accent);
}

.modal-content {
	background-color:				var(--color-light);
	color:							var(--text-dark);
}

.modal-header .close {
	color:							var(--color-light);
}

.modal-footer {
	border-top:						0;
}


/* Table */
table, 
table td, 
table th {
	border:							2px solid var(--color-dark)!important;
	text-align:						center;
}

table th, 
table thead {
	height:							35px!important;
	padding-top:					0!important;
	padding-bottom:					0!important;
	line-height:					35px;
}

.table td, 
.table th {
	vertical-align:					middle;	
}

.table td {
	padding:						0!important;
}

thead {
	background-color:				var(--table-header-background);
	color:							var(--table-header-text);
}

th:not(:last-child) {
	border-right:					1px solid #dee2e6;
}

table, 
.row {
	background-color:				var(--table-content-background);
	color:							var(--table-content-text);
}


/* Input */
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
	box-shadow:						0 0 7px var(--color-accent);
	border-color:					var(--color-accent);
}

input[type='file'] {
	padding:						0;
	padding-top:					3px;
	padding-left:					5px;
}


/* Button theme */
.btn_theme, 
a.btn_theme {
	margin:							10px 0;
	background-image:				linear-gradient(315deg, var(--color-primary) 0%, var(--color-accent) 74%);
	border:							0;
	outline:						0!important;
	padding:						.375rem .75rem;
	color:							var(--text-color);
	border-radius:					5px;
	text-decoration:				none;
	display:						inline-block;
	cursor:							pointer;
}

.btn_theme_danger {
	background-image:				linear-gradient(315deg, var(--color-danger) 0%, var(--text-danger) 74%)!important;
}

.btn_theme_outline {
	border:							2px solid var(--color-accent);
	color:							var(--color-accent);
	background:						var(--color-light);
	font-weight:					bold;
	transition:						all 0.3s ease-in;
}

a.btn_theme_outline:hover, 
.btn_theme_outline:hover, 
a.btn_theme_outline:hover {
	background-color:				var(--color-accent);
	color:							white;
	border:							2px solid var(--color-accent)!important;
	outline-color:					#711757!important;
}

a.btn_theme:hover, 
.btn_theme:hover, 
a.btn_theme:hover {
	color:							var(--text-color);
	text-decoration:				none!important;
}

.btn_full {
	width:							100%;
	text-align:						center;
}

.btn_theme:hover, 
a.btn_theme:hover {
	border-color:					var(--color-accent-strong);
	outline-color:					var(--color-accent-strong)!important;
}

.btn_theme:active, 
a.btn_theme:active {
	box-shadow:						0 0 5px var(--color-accent-strong);
}