/* GLOBAL */
input[type='file'] {
	padding: 0;
	padding-top:3px;
	padding-left:5px;
}

body,html {
	height: 100%;
}

.nav-item:hover {
	background-color: #eee;
}

.nav-item {
	height:50px;
	line-height:50px;
	padding: 0;
	transition: all 200ms ease-in;
}

body > nav {
	background-color: #ccc;
	padding: 0;
	height:50px;
}

.row {
	max-width: 100%;
}

/* COURSES */
.img_courseEdit {
	max-width: 250px;
	max-height:250px;
}

.course_logo img {
	max-width: 100px;
}

.course_logo {
	width:100px;
}

.course_banner {
	max-height: 150px;
}

.course_header {
	display: flex;
	justify-content: left;
    background-color: #eee;
}

.course_info {
	margin-left: 20px;
}

.module {
	background-color: #ddd;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
}

.class {
	display: flex;
	justify-content: space-between;
	border: 1px solid #bbb;
    padding: 5px 10px;
    transition: all 200ms ease-in;
    align-items: center;
}

.class h5 {
	margin:0;
}

.class:hover {
	background-color: #ccc;
}

.classes {
	margin-bottom: 20px;
}

.classType_content_quest {
	display: none;
}

.module {
	margin-top: 20px;
}

.class_actions {
	display: flex;
}

.class_actions button {
	margin-left: 5px;
}

.support_header {
	background-color: #777;
	color: white;
}

.table-bordered td,
.table thead th {
	border: 1px solid black;
}

.table-bordered th {
	border: 1px solid black;
}

.actions {
	max-width: 80px;
	min-width:80px
}

.student_totalCourses {
	width:120px;
	text-align:center;
}

.table {
	margin-top:10px;
}

.student_courses {
	text-align:center;
}

.student_name {
	min-width: 150px;
}

/* SUPPORT */
.support_date {
	width:175px;
}

.messages {
	margin-top: 20px;
}

.message {
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 20px;
	margin-top: 20px;
}

.message_author {
	font-weight: bold;
	line-height: 31px;
}

.message_date {
	color: #aaa;
    border: 1px solid #aaa;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
}

.message_info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.author_admin {
	margin-left: 10px;
	color: #7f5a83;
	font-weight: bold;
    font-size: 12px;
    border: 1px solid #7f5a83;
    padding: 5px;
    border-radius: 5px;
}