/* GLOBAL */
body,html {
	height: 100%;
}

.nav-item:hover {
	background-color: #eee;
}

.nav-item {
	height:50px;
	line-height:50px;
	padding: 0;
	transition: all 200ms ease-in;
}

body > nav {
	background-color: #ccc;
	padding: 0;
	height:50px;
}

.row {
	max-width: 100%;
}

/* COURSES */
.img_courseEdit {
	max-width: 250px;
	max-height:250px;
}

.course_logo img {
	max-width: 100px;
}

.course_logo {
	width:100px;
}

.course_banner {
	max-height: 150px;
}

.course_header {
	display: flex;
	justify-content: left;
    background-color: #eee;
}

.course_info {
	margin-left: 20px;
}

.module {
	background-color: #ddd;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
}

.class {
	display: flex;
	justify-content: space-between;
	border: 1px solid #bbb;
    padding: 5px 10px;
    transition: all 200ms ease-in;
    align-items: center;
}

.class h5 {
	margin:0;
}

.class:hover {
	background-color: #ccc;
}

.classes {
	margin-bottom: 20px;
}