/* GLOBAL */
body,html {
	height: 100%;
	background-color: #d387ab;
background-image: linear-gradient(315deg, #d387ab 0%, #b279a7 74%);
/*	background-color: #861657;
background-image: linear-gradient(315deg, #861657 0%, #aa4465 74%);
*/
/*
	background-color: #f39f86;
background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
*/
}

table, .row, .registration, .login {
	background-color: rgba(238,238,238,0.7);
}

table, .row {
	background-color: rgba(238,238,238,1);
}

.home, .error_404, .registration {
	margin-top: 20px;
}

.error_404 {
	text-align: center;
	padding: 100px;
	background-color: rgba(238,238,238,0.7);
}

.registration {
	padding: 20px;
}

.nav-item:hover {
	background-color: #eee;
}


.nav-item {
	height:50px;
	line-height:50px;
	padding: 0;
	transition: all 200ms ease-in;
}

body > nav, .thead-dark th {
	background-color: #3e4041!important;
}

body > nav {
	color:white;
	padding: 0;
	height:50px;
}

body > nav a {
	color:white;
}

.row {
	max-width: 100%;
	margin-left: 0;
}

/* LOGIN */
.login {
	margin:auto;
	margin-top:100px;
	max-width: 400px;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 20px;
}

/* COURSES */
.course_logo img {
	max-width: 100px;
}

.course_logo {
	width:100px;
}

.course_banner {
	max-height: 150px;
}

.course_header {
	display: flex;
	justify-content: left;
    background-color: #eee;
}

.course_info {
	margin-left: 20px;
}

.course_left, .course_right {
	overflow-y: scroll;
}

.course_left {
	min-height:300px;
	background-color:#ddd;
	padding-left: 30px;
}

.course_right {
	min-height:300px;
	margin-left: 10px;
}

.module {
	padding: 20px;
	border: 1px solid black;
	border-radius: 5px;
	margin-top: 20px;
}

.module_class {
	transition: all 200ms ease-in;
	display:flex;
	justify-content:space-between;
	margin-top:5px;
}

.module_class:hover, .module_class:hover a  {
	background-color: #ddd;
	color: white;
	text-decoration:none;
}

.class_watched {
	border: 1px solid #aaa;
	padding:2px;
	border-radius: 5px;
	margin-left: 15px;
	color:#777;
}

.content_info h1 {
	display: inline;
}

.comment img {
	max-width:100px;
	max-height:100px;
}

.comment {
	display: flex;
	margin-top: 20px;
}

.comment p {
	display: inline-block;
	
}

.comment_content {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.comment_info {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	width: 100%;
}

.comment_info > button {
	width: 100px;
	margin-bottom:5px;
}

.comment_reply {
	display: none;
}

.comment_info p {
	margin-bottom: 0;
}

.comment_reply_actions {
	float: right;
	margin-top:5px;
}

#class_video {
	width: 100%;
	margin-top: 10px;
}

/* QUESTS */
.question {
	border: 2px solid #ddd;
    padding: 25px;
    border-radius: 5px;
    margin-bottom:20px;
    cursor:pointer;
    transition: all 200ms ease-in;
}

.question:hover, .question_selected {
	background-color:#ddd;
}

.question_correct {
	border-color:green;
}

.question_wrong {
	border-color:red;
}