
.error_msg {
	text-align: center;
	padding: 100px;
	background-color: rgba(238,238,238,0.3);
}






/* SUPPORT */
#support_msg {
	min-height: 300px;
}

.support_date {
	width:175px;
}

.messages {
	margin-top: 20px;
}

.message {
	border: 1px solid #888;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 20px;
	margin-top: 20px;
	background:		white;
	color:			black;
}

.message_author {
	font-weight: bold;
	line-height: 31px;
}

.message_date {
	color: #888;
    border: 1px solid #aaa;
    padding: 5px;
    border-radius: 5px;
    font-size: 13px;
    background-color: #888;
    color: white;
}

.message_info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}

.author_admin {
	margin-left: 10px;
	font-weight: bold;
    font-size: 12px;
    border: 1px solid #7f5a83;
    padding: 5px;
    border-radius: 5px;
    background-color: #7f5a83;
    color: white;
}

.support_title {
	margin: 20px 0;
	color: white;
}