/* GLOBAL */
/** { box-sizing: border-box; border: 1px solid red; line-height: 0;}*/

body,html {
	min-height: 100%;
	overflow-y: auto;
	margin: 0;
	height: 100%;
	min-height: 100vh;
	/*position: relative;*/
}

main {
	min-height: 100%;
}

.row, main, footer {
	position: relative;
}

body{
	/* #0D324D -> #7F5A83  */
	background-color: #7f5a83;
	background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
	background-size: cover;
	
	/*
	background-color: #d387ab;
background-image: linear-gradient(315deg, #d387ab 0%, #b279a7 74%);
*/
/*	background-color: #861657;
background-image: linear-gradient(315deg, #861657 0%, #aa4465 74%);
*/
/*
	background-color: #f39f86;
background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
*/
}

footer {
	bottom: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	bottom: 0;
	background-color: #3e4041!important;
}

a:hover {
	color: #9881aa;
}

.home,.registration, .login, .settings {
	color: white;
	margin-bottom: 50px;
}

table, .row, .registration, .login, .settings {
	background-color: rgba(238,238,238,0.3);
}

table, .row {
	background-color: rgba(238,238,238,1);
}

.home, .error_msg, .registration, .alert, .settings {
	margin-top: 20px;
}

.error_msg {
	text-align: center;
	padding: 100px;
	background-color: rgba(238,238,238,0.3);
}

.registration, .settings {
	padding: 20px;
}

.error_msg, .registration, .login, .settings {
	border-radius: 5px;
	border: 1px solid #ccc;
}

.nav-item:hover {
	background-color: #eee;
}


.nav-item {
	height:50px;
	line-height:50px;
	padding: 0;
	transition: all 200ms ease-in;
}

body > nav, .thead-dark th {
	background-color: #3e4041!important;
}

body > nav {
	color:white;
	padding: 0;
	height:50px;
}

body > nav a {
	color:white;
}

.row {
	max-width: 100%;
	margin-left: 0;
    overflow: hidden;
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: 0 0 7px #711757;
  border-color: #711757;
}

/*
input:focus {
	outline: 0!important;
	box-shadow: 0 0 5px #711757 !important;
}*/

/* LOGIN */
.login {
	margin:auto;
	margin-top:100px;
	max-width: 400px;
	padding: 20px;
}


/* HOME */
.home .courses {
	display: flex;
	color: black;
	flex-wrap: wrap;
	margin-top: 30px;
	justify-content: center;
}

.home .course img {
	display: block;
	max-width:250px;
	margin: auto;
	border-radius: 5px;
	height: 140px;
}

.home .course {
	text-align: center;
	margin-right: 20px;
	background-color: rgba(238,238,238,1);
	border-radius:5px;
	border: 1px solid #ddd;
	width:300px;
	min-height:300px;
	padding: 15px 20px;
	margin-bottom: 30px;
}

.home .course .course_info {
	display: flex;
	justify-content: space-around;
}

.home .course .progress {
	margin-top:10px;
	background-color: #ccc;
}

.home .course .progress .progress-bar-caption {
	text-align: center;
	color: white;
	width: 100%;
}

.home .course .progress .bg-success {
	background-color: #52b86a!important;
}

.home .courses a {
	color: black;
	text-decoration: none;
}

.home .courses .course {
	transition: 100ms all ease-in;
}

.home .courses .course:hover {
	transform: scale(1.08);
	/*border: 5px solid red;*/
}

.home .courses a:hover {
	color: black;
}


/* SETTINGS */
.user_info img {
	width: 200px;
	height: 200px;
	margin: auto;
}

.user_photo {
	width: 200px;
	height: 200px;
	margin:auto;
}

.btn_theme, a.btn_theme {
	margin: 10px 0;
	background-image: linear-gradient(315deg, #823b8a 0%, #5d0d6b 74%);
	/*border: 1px solid #7f5a83;*/
	border:0;
	outline: 0!important;
	padding: .375rem .75rem;
	color: white;
	border-radius: 5px;
	text-decoration: none;
	display: block;
}

a.btn_theme, a.btn_theme:hover {
	color: white;
	text-decoration: none!important;
	border: 1px solid #7f5a83;
}

.btn_full {
	width: 100%;
	text-align: center;
}



.btn_theme:hover, a.btn_theme:hover {
	border-color: #711757;
	outline-color: #711757!important;
}

.btn_theme:active, a.btn_theme:active {
	box-shadow: 0 0 5px #711757;
}

#btn_photo_update {
	position: absolute;
	margin-top: 185px;
	margin-left: -15px;
	/*top: -23px;
	left: 591px;*/
	border: 0;
	color: white;
	background-color:#711757;
	display: inline-block;
	font-size: 115%;
	padding: .30em .4em;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 15px;
}

/* COURSES */
.course_logo img {
	max-width: 100px;
}

.course_logo {
	width:100px;
}

.course_banner {
	max-height: 150px;
}

.course_header {
	display: flex;
	justify-content: left;
    background-color: #eee;
}

.course_info {
	margin-left: 20px;
}

.course_left, .course_right {
	overflow-y: scroll;
}

.course_left {
	min-height:300px;
	background-color:#ddd;
	padding-left: 30px;
}

.course_right {
	min-height:300px;
	margin-left: 10px;
}

.module {
	padding: 20px;
	border: 1px solid black;
	border-radius: 5px;
	margin-top: 20px;
}

.module_class {
	transition: all 200ms ease-in;
	display:flex;
	justify-content:space-between;
	margin-top:5px;
}

.module_class:hover, .module_class:hover a  {
	background-color: #ddd;
	color: white;
	text-decoration:none;
}

.class_watched {
	border: 1px solid #aaa;
	padding:2px;
	border-radius: 5px;
	margin-left: 15px;
	color:#777;
}

.content_info h1 {
	display: inline;
}

.comment img {
	max-width:100px;
	max-height:100px;
}

.comment {
	display: flex;
	margin-top: 20px;
}

.comment p {
	display: inline-block;
	
}

.comment_content {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.comment_info {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	width: 100%;
}

.comment_info > button {
	width: 100px;
	margin-bottom:5px;
}

.comment_reply {
	display: none;
}

.comment_info p {
	margin-bottom: 0;
}

.comment_reply_actions {
	float: right;
	margin-top:5px;
}

#class_video {
	width: 100%;
	margin-top: 10px;
}

/* QUESTS */
.question {
	border: 2px solid #ddd;
    padding: 25px;
    border-radius: 5px;
    margin-bottom:20px;
    cursor:pointer;
    transition: all 200ms ease-in;
}

.question:hover, .question_selected {
	background-color:#ddd;
}

.question_correct {
	border-color:green;
}

.question_wrong {
	border-color:red;
}