/* PARALLAX */
.parallax {
	margin-top:100px;
	background-image: url('/assets/img/php.png');
		background-color:#eee;
	height:200px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
}

.parallax-container {
	height:100%;
	display:flex;
	flex:1;
	flex-direction:column;
	justify-content:space-around;
}

.parallax-title, 
.parallax-caption {
	display:flex;
	flex:1;
	align-items:center;
}

.parallax-caption {
	justify-content:space-around;
	font-size:30px;
	color:rgba(0,0,0,0.5);
}

.parallax-title {
	justify-content:center;
}

/* CENTRAL AREA */
#area-central {
	display:flex;
	flex:1;
	background-color:#888;
	height:100%;
}