/* Button theme */
.btn_theme, 
a.btn_theme {
	margin:							10px 0;
	background-image:				linear-gradient(315deg, var(--color-primary) 0%, var(--color-accent) 74%);
	border:							0;
	outline:						0!important;
	padding:						.375rem .75rem;
	color:							var(--text-color);
	border-radius:					5px;
	text-decoration:				none;
	display:						inline-block;
	cursor:							pointer;
}

.btn_theme_danger {
	background-image:				linear-gradient(315deg, var(--color-danger) 0%, var(--text-danger) 74%)!important;
}

.btn_theme_outline {
	border:							2px solid var(--color-accent);
	color:							var(--color-accent);
	background:						var(--color-light);
	font-weight:					bold;
	transition:						all 0.3s ease-in;
}

a.btn_theme_outline:hover, 
.btn_theme_outline:hover, 
a.btn_theme_outline:hover {
	background-color:				var(--color-accent);
	color:							white;
	border:							2px solid var(--color-accent)!important;
	outline-color:					#711757!important;
}

a.btn_theme:hover, 
.btn_theme:hover, 
a.btn_theme:hover {
	color:							var(--text-color);
	text-decoration:				none!important;
}

.btn_full {
	width:							100%;
	text-align:						center;
}

.btn_theme:hover, 
a.btn_theme:hover {
	border-color:					var(--color-accent-strong);
	outline-color:					var(--color-accent-strong)!important;
}

.btn_theme:active, 
a.btn_theme:active {
	box-shadow:						0 0 5px var(--color-accent-strong);
}